<%= hidden_field_tag "page_source", @post_data[:post_type] %>
<%= hidden_field_tag "post_id", @post_data[:post_id] %>
<div class="rating">
	<% (1..@post_data[:post_rate]).each do |i| %>
    	<i class="fa fa-heart" style="color:pink" aria-hidden="true"></i>
    <% end %>
    <% (@post_data[:post_rate]+1..5).each do |i| %>
    	<i class="fa fa-heart" aria-hidden="true"></i>
    <% end %>
</div>