<div class="share-link">
    <span><%= t("Share_Article_To") %>:</span>
    <hr/>
    <button id="facebook-share" class="btn btn-sm"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i> <%= t("facebook") %></button>
    <button id="weibo-share" class="btn btn-sm"><i class="fa fa-weibo fa-lg" aria-hidden="true"></i> <%= t("weibo") %></button>
    <button id="copy-share" class="btn btn-sm"><i class="fa fa-link fa-lg" aria-hidden="true"></i> <%= t("copy_link") %></button>
</div>