<% content_for :head do %>
    <%= stylesheet_link_tag "feature.css" %>
<% end %>

<body>
    <a name="home"></a>
    <div class="header">
    </div>
    
    <div class="main clearfix">
    	<div class="kicks-box clearfix">
        	<dl>
            	<dt>
                	<a href="#">
                        <img src="images/Curry1.jpg" alt="" style="width:100%;" />
                        <div class="filter">
                            <p>ADIDAS</p>
                        </div>
                    </a>
                </dt>
            	<dd>
                	<a href="#">Air Jodan</a>
                </dd>
            </dl>
            <div class="kicks-intro">
            	<h2>The title.</h2>
                <div class="kicks-intro-content">
                	<span>The content.</span>
                </div>
            </div>
        </div>
        <div class="kicks-box clearfix">
        	<dl>
            	<dt>
                	<a href="#">
                        <img src="images/Curry1.jpg" alt="" style="width:100%;" />
                        <div class="filter">
                            <p>ADIDAS</p>
                        </div>
                    </a>
                </dt>
            	<dd>
                	<a href="#">Air Jodan</a>
                </dd>
            </dl>
            <div class="kicks-intro">
            	<h2>The title.</h2>
                <div class="kicks-intro-content">
                	<span>The content.</span>
                </div>
            </div>
        </div>
        <div class="kicks-box clearfix">
        	<dl>
            	<dt>
                	<a href="#">
                        <img src="images/Curry1.jpg" alt="" style="width:100%;" />
                        <div class="filter">
                            <p>ADIDAS</p>
                        </div>
                    </a>
                </dt>
            	<dd>
                	<a href="#">Air Jodan</a>
                </dd>
            </dl>
            <div class="kicks-intro">
            	<h2>The title.</h2>
                <div class="kicks-intro-content">
                	<span>The content.</span>
                </div>
            </div>
        </div>
        <div class="kicks-box wait_load clearfix">
        	<dl>
            	<dt>
                	<a href="#">
                        <img src="images/Curry1.jpg" alt="" style="width:100%;" />
                        <div class="filter">
                            <p>ADIDAS</p>
                        </div>
                    </a>
                </dt>
            	<dd>
                	<a href="#">Air Jodan</a>
                </dd>
            </dl>
            <div class="kicks-intro">
            	<h2>The title.</h2>
                <div class="kicks-intro-content">
                	<span>The content.</span>
                </div>
            </div>
        </div>
        <div class="kicks-box wait_load clearfix">
        	<dl>
            	<dt>
                	<a href="#">
                        <img src="images/Curry1.jpg" alt="" style="width:100%;" />
                        <div class="filter">
                            <p>ADIDAS</p>
                        </div>
                    </a>
                </dt>
            	<dd>
                	<a href="#">Air Jodan</a>
                </dd>
            </dl>
            <div class="kicks-intro">
            	<h2>The title.</h2>
                <div class="kicks-intro-content">
                	<span>The content.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="to-view-more">
        <span>Click To View More</span>
    </div>
</body>