<div class="main container">
	<% 
		image_index = 0
		paragraph_index = 0
	%>
    <% @feature_post.post_composition.each do |index, hash| %>
    	<% if hash['type'] == 'image' %>
    		<%= image_tag @feature_post.main_images[image_index].url %>
    		<% image_index += 1 %>
    	<% else %>
    		<p><%= @content[paragraph_index] %></p>
    		<% paragraph_index += 1 %>
    	<% end %>
    <% end %>
</div>

<script>
    setTimeout(function() { $('.logo-pendant').fadeIn('slow'); }, 1000);
    initLanguageFormHandler();
</script>