<div class="main container">
  <h2><%= @page_title %></h2>
  <% @times.times do |i|%>
    <% unless @oncourt_post.main_images[i].nil? %>
      <dl class="col-xs-12" style="width: 80%; text-align:center">
          <dt>
              <img src="<%= @oncourt_post.main_images[i].url %>" class="kicks-pic"/>
          </dt>
      </dl>
    <% end %>
    <% unless @content[i].nil? %>
      <div class="col-xs-12" style="width: 80%">
          <div style="margin-bottom: 10px">
              <span><%= @content[i] %></span>
          </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  setTimeout(function() { $('.logo-pendant').fadeIn('slow'); }, 1000);
  initApplication(true);
</script>