<style>
	ul li {
		
	}
</style>

<div class="main container">
	<ul>
	  <% @results.each do |p| %>
	    <li>
	      <h3>
	        <%= p.title_en %> <%= p.title_cn %> 
	      </h3>
	      <p><%= p.content_en[0] %></p>
	    </li>
	  <% end %>
	</ul>
</div>