<div class="main container">
  <h2><%= @page_title %></h2>
  <% @times.times do |i| %>
    <% unless @trend_post.main_images[i].nil? %>
      <div class="row">
        <div class="col-md-8"><img src="<%= @trend_post.main_images[i].url %>" class="kicks-pic"/></div>
      </div>
    <% end %>
    <% unless @content[i].empty? %>
      <div class="col-xs-12" style="width: 80%">
          <div style="margin-bottom: 10px">
              <span><%= @content[i] %></span>
          </div>
      </div>
    <% end %>
  <% end %>
</div>