<h1>New On Court Post</h1>

<hr/><br/>

<%= form_for @new_post, :url => admin_on_court_posts_path do |f| %>
	<%= render :partial => "oncourtform", :locals => {:form => f} %>
<% end %>

<br/>

<%= link_to "Back", admin_on_court_posts_path, :class => "btn btn-default" %>