.bar-notice {
	color: white;
	background-color: green;
}
.bar-alert, #error_explanation {
	color: white;
	background-color: red;
}

.current-admin-user-bar {
	padding: 10px;
    background-color: gray;
    color: white;
    margin: 0;
}
.current-admin-user-bar a {
	color: white;
}

.table {
	table-layout: fixed
}