/*
 *= require bootstrap.min.css
 */

.current-admin-user-bar {
	padding: 10px;
    background-color: gray;
    color: white;
}
.current-admin-user-bar a {
	color: white;
}

.table {
	table-layout: fixed
}

.content-form {
	min-width: 500px;
	min-height: 200px;
}

.no-margin {
	margin: 0;
}