<h1>New Post</h1>

<hr/><br/>

<%= form_for @post, :url => admin_posts_path do |f| %>
	<%= render :partial => "form", :locals => {:form => f} %>
<% end %>

<br/>

<%= link_to "Back", admin_posts_path, :class => "btn btn-default" %> 