<style>
  .main {
    margin-top: 80px;
    text-align: center;
  }
  .main h1, .main h2 {
    margin: 0;
  }
  .main h1 {
    color: pink;
    font-size: 100px;
  }
  .main h2 {
    color: lightblue;
  }
  .main .error-code-block {
    margin-bottom: 20px
  }
</style>

<div class="main container">
  <div class="error-code-block">
    <h1><strong>500</strong></h1>
    <h2>Internal server error</h2>
  </div>
  <p>We're sorry, but something went wrong.</p>
  <p><%= link_to "Go Back Home", root_path %></p>
</div>