<label>Title:</label>
<%= form.text_field :title %>

<br>

<label>Content:</label>
<%= form.text_area :content %>

<br>

<label>Image:</label>
<%= form.select :image, @image_list %>

<br>

<%= form.submit %>