<h1>New Feature Post</h1>

<hr/><br/>

<%= form_for @feature_post, :url => admin_feature_posts_path do |f| %>
	<%= render :partial => "form", :locals => {:form => f} %>
<% end %>

<br/>

<%= link_to "Back", admin_feature_posts_path, :class => "btn btn-default" %> 