<% content_for :head do %>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<% end %>

<h1>New Calendar Post</h1>

<hr/><br/>

<%= form_for @calendar_post, :url => admin_calendar_posts_path do |f| %>
	<%= render :partial => "form", :locals => {:form => f} %>
<% end %>

<br/>

<%= link_to "Back", admin_calendar_posts_path, :class => "btn btn-default" %> 

<% content_for :end_of_body do %>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <%= javascript_include_tag "admin/calendar_posts.js" %>
<% end %>