<h1>New Trend Posts</h1>

<hr/><br/>

<%= form_for @trend_post, :url => admin_trend_posts_path do |f| %>
  <%= render :partial => "form", :locals => {:form => f} %>
<% end %>

<%link_to "Back", admin_trend_posts_path, :class => "btn btn-default" %>