/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min.css
 */

@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #4A4A4A;
}
a {
    cursor: pointer;
}

.navbar-brand > img {
   width: 175px;
   margin-top: -6px;
}
.navbar-brand > img:hover {
   opacity: 0.5;
}
.search-form button {
    color: white;
    background-color: #999999;
}

.alert {
    margin-top: 50px;
    margin-bottom: 0px;
}

.logo-pendant {
    position: fixed;
    right: 10px;
    top: 118px;
    width: 75px;
    border: 5px solid #e7e7e7;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.4);
    background-color: white;
    /*transform-style: preserve-3d;*/
    backface-visibility: hidden;
    border-radius: 15px;
    transform-origin: 50% -65px;
    z-index: 1000;
    animation: pendantSwing 1.5s infinite alternate ease-in-out;
    transition: top 1s ease-in-out;
}
.logo-pendant:hover {
    animation-play-state: paused;
}
.logo-pendant img {
    width: 100%;
}
.logo-pendant:before {
    position: absolute;
    content: "";
    border: 2px dotted #444;
    border-bottom: none;
    border-left: none;
    width: 100px;
    height: 100px;
    top: -55px;
    left: 50%;
    margin-left: -50px;
    transform: rotateY(-65deg) rotateZ(-45deg);
    border-radius: 0 5px 0 0;
    box-sizing: content-box;
}
.logo-pendant:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -75px;
    left: 50%;
    margin-left: -4px;
    background: #4c4c4c;
}
@keyframes pendantSwing {
    0% { transform: rotate(-3deg) }
    100% { transform: rotate(3deg) }
}

#side-nav {
    left: 0;
    text-align: left;
}
#side-nav  li span {
    left: -100px;
}
#side-nav li a:hover span {
    left: 35px;
}
#side-nav {
    position: fixed;
    top: 20%;
    z-index: 1000;
    font-size: 18px;
}
#side-nav ul {
    list-style: none;
}
#side-nav * {
    margin: 0;
    padding: 0;
    outline: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#side-nav li a {
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
}
#side-nav .fa {
    vertical-align: middle;
    font-size: 23px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    z-index: 4;
}
#side-nav li span {
    font-size: 18px;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 0 15px;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 3;
}
#side-nav li a:hover .fa {
    transform: rotate(720deg);
}
#side-nav li a:hover span {
    visibility: visible;
}
#side-nav li span {
    background-color: #555;
}
#side-nav li .fa {
    background-color: #e7e7e7;
    color: #555
}
#side-nav li a:hover .fa {
    color: white;
}
#side-nav li:nth-child(10n+1) span, #side-nav li:nth-child(10n+1) a:hover .fa {
    background-color: pink;
}
#side-nav li:nth-child(10n+2) span, #side-nav li:nth-child(10n+2) a:hover .fa {
    background-color: lightblue;
}
#side-nav li:nth-child(10n+3) span, #side-nav li:nth-child(10n+3) a:hover .fa {
    background-color: lightgreen;
}
#side-nav li:nth-child(10n+4) span, #side-nav li:nth-child(10n+4) a:hover .fa {
    background-color: violet;
}

#side-nav-mobile {
    text-align: center;
    margin-top: -2px;
    margin-bottom: 4px;
    line-height: 25px;
    list-style: none;
    padding: 0;
}
#side-nav-mobile li {
    padding: 0;
}
#side-nav-mobile li:hover a {
    opacity: 0.6;
}
#side-nav-mobile li + li {
    border-left: 1px solid #e7e7e7;
}
#side-nav-mobile a {
    color: #777;
    text-decoration: none;
    display: inline;
    white-space: nowrap;
}
#side-nav-mobile a span {
  font-size: 10px;
}
#side-nav-mobile a i {
  font-size: 18px;
}

#language-modal {
	text-align: center;
}
#language-modal input[type=submit] {
	color: white;
	width: 100px;
}
#language-modal .chinese-option {
	background-color: red;
}
#language-modal .english-option {
	background-color: #4c7cc9;
}

.main {
    margin-top: 50px;
    max-width: 1020px;
    font-weight: lighter;
    font-family: "Helvetica", sans-serif;
}

.pagination {
    background: white;
    cursor: default;
}
.pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
}
.pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd;
}
.pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
}
.pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
}
.pagination a:hover, .pagination a:focus {
    color: #000033;
    border-color: #000033;
    text-decoration: none;
}
.pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
}
.pagination .page_info b {
    color: #000033;
    background: #6aa6ed;
    padding: 0.1em 0.25em; }
.pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .pagination {
    height: 1%;
}
*:first-child + html .pagination {
    overflow: hidden;
}

#scroll-top {
    color: white;
    text-align: center;
    z-index: 2;
    padding: 3px;
    background: #555;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    position: fixed;
    bottom: -100px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: auto;
    opacity: 0.5;
}
#scroll-top:hover {
    opacity: 1;
}

.social-media {
    text-align: center;
    margin-top: 20px;
}
.social-media a:nth-child(1) {
    color: #3b5998;
}
.social-media a:nth-child(2) {
    color: #ce2f00;
}
.social-media a:nth-child(3) {
    color: #af0eaa
}
.social-media a:hover {
    opacity: 0.5;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.verticle-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media only screen and (max-width:767px) {
    .logo-pendant {
        right: 5px;
        top: 100px;
        width: 60px;
    }
    .logo-pendant:before {
        width: 70px;
        height: 70px;
        top: -40px;
        margin-left: -35px;
    }
    .logo-pendant:after {
        top: -60px;
    }

    #scroll-top {
        width: 35px;
        height: 35px;
        padding: 0;
    }

    footer {
        padding: 20px 0 !important;
    }

    footer .footer-menu-divider {
        display: none !important;
    }

    p.copyright {
        margin: 0 !important;
        text-align: center;
    }

  	footer .container{
    	width:80%;
    	margin:0 auto;
    	padding:0;
  	}

  	footer ul li {
    	text-align: center;
      	width: 33%;
      	float: left;
      	height: 2em;
  	}
}