body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
  -ms-user-select: none;
	user-select: none;
  overflow: hidden;
}

h1, h4 {
  color: #4A4A4A;
}

.main {
  text-align: center;
}

#release-modal {
  text-align: center;
}
#release-modal .modal-footer > span {
  color: black;
  float: left;
  font-size: 20px;
}

.main .opening-scene {
  display: block;
  background-color: black;
  opacity: 0.5;
  text-align: center;
  top: 50px;
}
.main .opening-scene span {
  color: white;
  font-size: 20px;
  position: relative;
  font-weight: normal;
}
.main .opening-scene span:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  color: red;
  -webkit-animation: fill-text 2s infinite;
          animation: fill-text 2s infinite;
}
.main .header {
  font-size: 25px;
  padding: 10px 0;
  background: linear-gradient(45deg, white 25%, #e7e7e7 25%, #e7e7e7 50%, white 50%, white 75%, #e7e7e7 75%);
  background-size: 80px 80px;
  border-radius: 20px;
  border: 2px solid #a4a4a4;
}
.main .kicks-switch {
  width: 80px;
  height: 40px;
  margin-top: 10px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background-color: #a4a4a4;
  cursor: pointer;
  -webkit-transition: background-color .40s ease-in-out;
  -moz-transition: background-color .40s ease-in-out;
  -o-transition: background-color .40s ease-in-out;
  transition: background-color .40s ease-in-out;
  cursor: pointer;
}
.main .kicks-switch.active {
  background-color: #4A4A4A;
}
.main .kicks-switch.active .switch-btn {
  left: 45px;
}
.main .kicks-switch .switch-btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -15px;
  -webkit-transition: all .30s ease-in-out;
  -moz-transition: all .30s ease-in-out;
  -o-transition: all .30s ease-in-out;
  transition: all .30s ease-in-out;
}
.main .kicks-switch .switch-checkbox {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.main .press-warning {
  color: red;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

#release-modal .modal-header {
  background-color: #999999;
  box-shadow: inset 0 0 10px #000000;
}
#release-modal .modal-header h4 {
  color: white;
  font-weight: bold;
}
#release-modal .modal-header .close {
  font-size: 25px;
}
#release-modal .modal-body {
  padding: 0;
  box-shadow: inset 0 0 0 white, 0 0 5px #000000;
}
#release-modal .modal-body img {
  width: 100%;
}
#release-modal .modal-footer {
  box-shadow: inset 0 0 10px #000000;
}

#calendar {
    color: white;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  	transform: translate3d(0, 0, 0);
  	height: 600px;
  	overflow: hidden;
}
#calendar .calendar-header {
  	height: 50px;
  	width: 100%;
  	text-align: center;
  	position:relative;
}
#calendar .calendar-header h1 {
  	margin: 0;
  	padding: 0;
  	font-size: 20px;
  	line-height: 50px;
  	font-weight: 100;
  	letter-spacing: 1px;
}
#calendar .left, .right {
  	position: absolute;
  	top: 25%;
    color: #999999;
  	cursor: pointer;
}
#calendar .left {
  	left: 10px;
}
#calendar .right {
  right: 10px;
}
#calendar .month {
  opacity: 0;
}
#calendar .month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}
#calendar .month.in.next {
  -webkit-animation: moveFromTopFadeMonth .4s ease-out;
  -moz-animation: moveFromTopFadeMonth .4s ease-out;
  animation: moveFromTopFadeMonth .4s ease-out;
  opacity: 1;
}
#calendar .month.out.next {
  -webkit-animation: moveToTopFadeMonth .4s ease-in;
  -moz-animation: moveToTopFadeMonth .4s ease-in;
  animation: moveToTopFadeMonth .4s ease-in;
  opacity: 1;
}
#calendar .month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
  -moz-animation: moveFromBottomFadeMonth .4s ease-out;
  animation: moveFromBottomFadeMonth .4s ease-out;
  opacity: 1;
}
#calendar .month.out.prev {
  -webkit-animation: moveToBottomFadeMonth .4s ease-in;
  -moz-animation: moveToBottomFadeMonth .4s ease-in;
  animation: moveToBottomFadeMonth .4s ease-in;
  opacity: 1;
}
#calendar .week {
 background: #4A4A4A;
}
#calendar .day {
  	display: inline-block;
  	width: 14.28%;
  	padding: 10px;
  	text-align: center;
  	vertical-align: top;
  	cursor: pointer;
  	background: #4A4A4A;
  	position: relative;
}
#calendar .day.other {
  color: rgba(255, 255, 255, .3);
}
#calendar .day.today {
  color: rgba(156, 202, 235, 1);
}
#calendar .day-name {
  font-size: 9px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, .5);
  letter-spacing: .7px;
}
#calendar .day-number {
  font-size: 24px;
  letter-spacing: 1.5px;
}
#calendar .day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 12px;
  line-height: 6px;
  overflow: hidden;
}
#calendar .day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  margin: 0 1px;
}

.blue { background: rgba(156, 202, 235, 1); }
.orange { background: rgba(247, 167, 0, 1); }
.green { background: rgba(153, 198, 109, 1); }
.yellow { background: rgba(249, 233, 0, 1); }

#calendar .details {
  position: relative;
  width: 100%;
  height: 75px;
  background: rgba(164, 164, 164, 1);
  margin-top: 5px;
  border-radius: 4px;
  text-align: left;
}
#calendar .details.in {
  -webkit-animation: moveFromTopFade .5s ease both;
  -moz-animation: moveFromTopFade .5s ease both;
  animation: moveFromTopFade .5s ease both;
}
#calendar .details.out {
  -webkit-animation: moveToTopFade .5s ease both;
  -moz-animation: moveToTopFade .5s ease both;
  animation: moveToTopFade .5s ease both;
}

#calendar .arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -2px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
  transition: all 0.7s ease;
}
#calendar .events {
  height: 75px;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#calendar .events.in {
  -webkit-animation: fadeIn .3s ease both;
  -moz-animation: fadeIn .3s ease both;
  animation: fadeIn .3s ease both;
}
#calendar .events.in {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}
#calendar .details.out .events {
  -webkit-animation: fadeOutShrink .4s ease both;
  -moz-animation: fadeOutShink .4s ease both;
  animation: fadeOutShink .4s ease both;
}
#calendar .events.out {
  -webkit-animation: fadeOut .3s ease both;
  -moz-animation: fadeOut .3s ease both;
  animation: fadeOut .3s ease both;
}
#calendar .event {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .5px;
  padding: 2px 16px;
  vertical-align: top;
}
#calendar .event.empty {
  color: #eee;
}
#calendar .event-category {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}
#calendar .event a {
  display: inline-block;
  padding: 0 0 0 7px;
  color: white;
}
#calendar .legend {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: rgba(60, 60, 60, 1);
  line-height: 30px;
}
#calendar .entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
}
#calendar .entry:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 5px;
  top: 12px;
  left: 14px;
}

#calendar .entry.blue:after { background: rgba(156, 202, 235, 1); }
#calendar .entry.orange:after { background: rgba(247, 167, 0, 1); }
#calendar .entry.green:after { background: rgba(153, 198, 109, 1); }
#calendar .entry.yellow:after { background: rgba(249, 233, 0, 1); }


@-webkit-keyframes fill-text {
  50% { width: 100%; }
  100% { width: 0%; }
}
@keyframes fill-text {
  50% { width: 100%; }
  100% { width: 0%; }
}

@-webkit-keyframes moveFromTopFade {
  from { opacity: .3; height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
  from { height:0px; margin-top:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFade {
  to { opacity: .3; height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTopFade {
  to { height:0px; -moz-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
  to { height:0px; transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}
@keyframes moveToTopFadeMonth {
  to { opacity: 0; -moz-transform: translateY(-30%); }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}
@keyframes moveFromTopFadeMonth {
  from { opacity: 0; -moz-transform: translateY(30%); }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
}
@-moz-keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}
@keyframes moveToBottomFadeMonth {
  to { opacity: 0; -webkit-transform: translateY(30%); }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}
@keyframes moveFromBottomFadeMonth {
  from { opacity: 0; -webkit-transform: translateY(-30%); }
}

@-webkit-keyframes fadeIn  {
  from { opacity: 0; }
}
@-moz-keyframes fadeIn  {
  from { opacity: 0; }
}
@keyframes fadeIn  {
  from { opacity: 0; }
}

@-webkit-keyframes fadeOut  {
  to { opacity: 0; }
}
@-moz-keyframes fadeOut  {
  to { opacity: 0; }
}
@keyframes fadeOut  {
  to { opacity: 0; }
}

@-webkit-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@-moz-keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}
@keyframes fadeOutShink  {
  to { opacity: 0; padding: 0px; height: 0px; }
}

#calendar .month-alt {
  display: none;
  height: 550px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#calendar .month-alt .product-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#calendar .month-alt .product-container .kicks-box {
  width: 100%;
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #999999;
  overflow: hidden;
  margin: 5px;
}
#calendar .month-alt .product-container .cover {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  padding: 1em;
  color: #333;
  top: -220px;
  overflow: hidden;
}
#calendar .month-alt .product-container .cover .title {
  font-size: 17pt;
  border: 2px solid #333;
  padding: 5px;
  font-weight: bold;
  margin-top: 35px;
}
#calendar .month-alt .product-container .kicks-box .cover .intro {
  line-height: 1.2em;
  height: 4.8em;
  width: 100%;
  position: relative;
  font-size: 10pt;
  overflow: hidden;
}
#calendar .month-alt .product-container .cover .date {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 15pt;
}
#calendar .month-alt .product-container .kicks-box:hover .cover, .product-container .kicks-box:active .cover {
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  top: 0px;
}
#calendar .month-alt .to-view-more {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f8f8f8;
  cursor: pointer;
  color: #777;
  float: left;
  margin-top: 20px;
}