@charset "utf-8";
/* CSS Document */

@font-face {
    /* font-properties */
    font-family: Univers-UltraCondensed;
    src:url(../fonts/Univers/Univers/Univers-UltraCondensed.otf);
}
@font-face {
    /* font-properties */
    font-family: UniversLTStd-UltraCn;
    src:url(../fonts/univers_lt_std_59_ultra_condensed/UniversLTStd-UltraCn.otf);
}

.navbar-brand > img {
	width: 175px;
	margin-top: -6px;
}

.navbar-brand > img:hover {
	opacity: 0.5;
}

.search-go-btn {
	margin-left: 10px;
}

.main{
	width: 100%;
}

@media only screen and (max-width:767px) {
	footer .container{
		width:80%;
		margin:0 auto;
		padding:0;
	}

	footer ul li {
		text-align: center;
	    width: 33%;
	    float: left;
	    height: 2em;
	}
}