@charset "utf-8";
/* CSS Document */

@font-face {
    /* font-properties */
    font-family: Univers-UltraCondensed;
    src:url(../fonts/Univers/Univers/Univers-UltraCondensed.otf);
}
@font-face {
    /* font-properties */
    font-family: UniversLTStd-UltraCn;
    src:url(../fonts/univers_lt_std_59_ultra_condensed/UniversLTStd-UltraCn.otf);
}

.navbar-brand > img {
	width: 175px;
	margin-top: -6px;
}

.navbar-brand > img:hover {
	opacity: 0.5;
}

.search-go-btn {
	margin-left: 10px;
}

.main {
	width: 100%;
}

.logo-pendant {
  	position: fixed;
  	right: 10px;
  	top: 118px;
  	width: 75px;
  	border: 5px solid #e7e7e7;
  	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 5px 10px rgba(0, 0, 0, 0.4);
  	background-color: white;
  	transform-style: preserve-3d;
  	backface-visibility: hidden;
  	border-radius: 15px;
  	transform-origin: 50% -65px;
  	z-index: 1000;
  	animation: pendantSwing 1.5s infinite alternate ease-in-out;
}
.logo-pendant:hover {
  	animation-play-state: paused;
}
.logo-pendant img {
  	width: 100%;
}
.logo-pendant:before {
  	position: absolute;
  	content: "";
  	border: 2px dotted #444;
  	border-bottom: none;
  	border-left: none;
  	width: 100px;
  	height: 100px;
  	top: -55px;
  	left: 50%;
  	margin-left: -50px;
  	transform: rotateY(65deg) rotateZ(-45deg);;
  	border-radius: 0 5px 0 0;
}
.logo-pendant:after {
  	position: absolute;
  	content: "";
  	width: 10px;
  	height: 10px;
  	border-radius: 50%;
  	top: -75px;
  	left: 50%;
  	margin-left: -4px;
  	background: #4c4c4c;
}
@keyframes pendantSwing {
  	0% { transform: rotate(-3deg) }
  	100% { transform: rotate(3deg) }
}

@media only screen and (max-width:767px) {
	footer .container{
		width:80%;
		margin:0 auto;
		padding:0;
	}

	footer ul li {
		text-align: center;
	    width: 33%;
	    float: left;
	    height: 2em;
	}
}