.main .kicks-post {
  	transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
  	background: #fff;
  	border-radius: 3px;
  	box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  	margin: 0 auto 1.6%;
  	overflow: hidden;
  	position: relative;
  	font-size: 14px;
  	line-height: 1.45em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main .kicks-post .photo {
  	height: 200px;
  	position: relative;
}
.main .kicks-post .kicks-post-content {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.main .kicks-post .kicks-post-content a:hover {
  text-decoration: none;
}
.main .kicks-post .kicks-post-content a:hover h1 {
  opacity: 0.5;
}
.main .kicks-post .kicks-post-content h1 {
  color: #4A4A4A;
  font-size: 26px;
  line-height: 1em;
  margin: 0 0 10px 0;
}
.main .kicks-post .kicks-post-content h2 {
  color: #9b9b9b;
  line-height: 1.2em;
  text-transform: uppercase;
  font-size: 1em;
  margin: 1.2% 0;
}
.main .kicks-post .kicks-post-content .rating {
  color: lightgray;
  float: right;
  margin-top: -15px;
}
.main .kicks-post .kicks-post-content p {
  position: relative;
  margin: 0;
  padding-top: 20px;
}
.main .kicks-post .kicks-post-content p:after {
  content: "";
  background: #4A4A4A;
  height: 6px;
  width: 40px;
  position: absolute;
  top: 6px;
  left: 0;
}
.main .kicks-post .kicks-post-content a.kicks-post-more {
  color: #4A4A4A;
  margin-bottom: 10px;
  float: right;
}
.main .kicks-post .kicks-post-content a.kicks-post-more:after {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
}
.main .kicks-post .kicks-post-content a.kicks-post-more:hover:after {
  margin-left: 5px;
  opacity: 1;
}

@media screen and (min-width: 767px) {
  .main .kicks-post {
    height: 200px;
  }
  .main .kicks-post:hover .photo {
    -webkit-transform: rotate(5deg) scale(1.3);
            transform: rotate(5deg) scale(1.3);
  }
  .main .kicks-post:hover.alt .photo {
    -webkit-transform: rotate(-5deg) scale(1.3);
            transform: rotate(-5deg) scale(1.3);
  }
  .main .kicks-post.alt .kicks-post-content {
    float: right;
  }
  .main .kicks-post.alt .kicks-post-content:before {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
    right: -15px;
    left: inherit;
  }
  .main .kicks-post.alt .photo {
    float: right;
  }
  .main .kicks-post .photo {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    float: left;
    height: 100%;
    width: 40%;
  }
  .main .kicks-post .kicks-post-content {
    float: left;
    width: 60%;
    height: 100%;
    z-index: 0;
  }
  .main .kicks-post .kicks-post-content:before {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
    content: "";
    background: #fff;
    width: 100%;
    z-index: -1;
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
  }
}

.main .wait_load {
	display:none;
}
.main .to-view-more {
  width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #f8f8f8;
	cursor: pointer;
	color: #777;
}