@charset "utf-8";
/* CSS Document */

.main {
	margin-top: 40px;
}
.main .kicks-box {
	width:80%;
	margin:30px 0 30px 10px;
	padding:20px;
	float:left;
	border-bottom:2px solid #999999;
}
.main .kicks-box.last {
	margin-bottom: 0;
}
.main .kicks-box dl {
	width:40%;
	height:350px;
	float:left;
	cursor:pointer;
}
.main .kicks-box dl dt {
	width:100%;
	height:310px;
	position:relative;
}
.main .kicks-box dl dt .filter {
	position:absolute;
	width:100%;
	height:310px;
	top:0;
	left:0;
	background:#666;
	display:none;
	opacity:0.8;
	filter:alpha(opacity=80);
}
.main .kicks-box dl dt .filter p {
	width:100%;
	height:320px;
	line-height:320px;
	font-size:80px;
	color:#FFFFFF;
	text-align:center;
}
.main .kicks-box dl dd {
	width:100%;
	height:40px;
	line-height:40px;
	font-size:28px;
	text-align:center;
	font-family:"UniversLTStd-UltraCn";
}
.main .kicks-intro {
	width:55%;
	float:right;
	background:#CC3300;
}
.main .kicks-intro h2 {
	margin:0;
	width:100%;
	height:50px;
	line-height:50px;
	font-size:30px;
	background:#99FF33;
}
.main .kicks-intro .kicks-intro-content {
	width:100%;
	height:270px;
	margin-top:30px;
	font-size:24px;
	background:#99FF33;
}
.main .wait_load{
	display:none;
}

.to-view-more {
	display: inline-block;
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	background:#FF9;
	cursor:pointer;
	font-size:18px;
	color:#666666;
}

@media only screen and (max-width:1024px) {
	.main .kicks-box{
		padding:20px;
		border-bottom:2px solid #999999;
	}
	.main .kicks-box dl{
		height:300px;
	}
	.main .kicks-box dl dt{
		height:240px;
	}
	.main .kicks-box dl dd{
		height:60px;
	}
	.main .kicks-intro .kicks-intro-content{
		height:220px;
	}
}

@media only screen and (max-width:767px) {
	.main .kicks-box{
		width:90%;
		float:none;
		margin:0 auto;
	}
	.main .kicks-box dl{
		width:100%;
	}
	.main .kicks-box dl dt{
		width:90%;
		margin:0 auto;
	}
	.main .kicks-box .kicks-intro{
		width:100%;
	}
}