*{margin:0; padding:0; list-style:none;}

.header {
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.slide-container {
	height: 400px;
	margin-bottom: 40px;
}

#wrapper {
	max-width: 1020px;
	padding: 0 30px;
	margin: 50px auto;
	height: 400px;
	position: relative;
	color: white;
	text-shadow: rgba(0,0,0,0.1) 2px 2px 0px;	
}
#slider-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
#slider-wrap ul#slider {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;		
}
#slider-wrap ul#slider li {
	float: left;
	position: relative;
	width: 600px;
	height: 100%;
	background-position: center !important;
	background-size: cover !important;	
}
#slider-wrap ul#slider li a {
	color: white;
}
#slider-wrap ul#slider li a > div {
	margin-top: 180px;	
}
#slider-wrap ul#slider li a > div h3 {
	font-size: 36px;	
}
#slider-wrap ul#slider li img {
	height: 100%;
}

.slide-btns {
	position: absolute;
	width: 50px;
	height: 60px;
	top: 50%;
	margin-top: -25px;
	line-height: 57px;
	text-align: center;
	cursor: pointer;	
	background: rgba(0,0,0,1);
	z-index: 100;
	
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-ms-user-select: none;
	
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.slide-btns:hover {
	background:rgba(0,0,0,0.5);	
}

#next {right:-50px; border-radius:7px 0px 0px 7px;}
#previous {left:-50px; border-radius:0px 7px 7px 0px;}
#next i, #previous i {margin-top:40%;}
 
#slider-wrap.active #next {right:0px;}
#slider-wrap.active #previous {left:0px;}

#pagination-wrap {
	min-width: 20px;
	margin-top: 350px;
	margin-left: auto; 
	margin-right: auto;
	height: 15px;
	position: relative;
	text-align: center;
}
#pagination-wrap ul {
	width: 100%;
}
#pagination-wrap ul li {
	margin: 0 4px;
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: white;
	opacity: 0.5;
	position: relative;
  	top: 0;
}
#pagination-wrap ul li.active {
  	width: 12px;
  	height: 12px;
  	top: 3px;
	opacity: 1;
	box-shadow: rgba(0,0,0,0.1) 1px 1px 0px;	
}
#slider-wrap ul, #pagination-wrap ul li {
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}

.main .row {
	margin-left: auto;
	margin-right: auto;
}
.main .banner-box .new-box {
	position: relative;
	opacity: 0.7;
}
.main .banner-box .new-box img {
	width: 100%;
}
.main .banner-box .new-box .kicks-filter {
	width: 100%;
 	height: 100%;
 	position: absolute;
	top: 0;
 	text-align: center;
}
.main .banner-box .new-box p {
	position: relative;
	font-size:24px;
	padding: 5px;
 	top:25%;
 	margin: 10px;
 	color:white;
 	text-shadow: 1px 1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000,0px 1px 0 #000,0px -1px 0 #000,-1px 0px 0 #000,1px 0px 0 #000,2px 2px 0 #000,-2px 2px 0 #000,2px -2px 0 #000,-2px -2px 0 #000,0px 2px 0 #000,0px -2px 0 #000,-2px 0px 0 #000,2px 0px 0 #000,1px 2px 0 #000,-1px 2px 0 #000,1px -2px 0 #000,-1px -2px 0 #000,2px 1px 0 #000,-2px 1px 0 #000,2px -1px 0 #000,-2px -1px 0 #000;
}

.main .kicks-box {
	margin:30px auto;
	padding:20px 0;
	border-bottom:2px solid #999999;
}
.main .kicks-box.last {
	margin-bottom: 0;
}
.main .kicks-pic{
	max-height: 350px;
	cursor:pointer;
}

.main .kicks-intro .feed-title {
	color: rgb(38, 38, 38);
	margin: 0;
	padding: 0 10px;
	line-height: 50px;
	font-size: 2.0em;
	font-weight: 900;
	text-align: center;
}
.main .kicks-intro .feed-title h3 {
	margin: 0;
}
.main .kicks-intro hr.title-divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.main .kicks-intro .kicks-intro-content {
	padding: 0 10px;
	font-size: 14px;
	font-weight: lighter;
}
.main .kicks-intro .kicks-intro-content span.post-date {
    padding: 0 10px;
    font-weight: lighter;
    color: #9b9b9b;
}
.main .kicks-intro .kicks-intro-content span.post-tag {
	border-bottom: 1px dashed #999;
}

.main .wait_load {
	display:none;
}
.main .to-view-more {
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: #FF9;
	cursor: pointer;
	color: #4A4A4A;
}

@media only screen and (max-width:767px) {
	.slide-container {
		height: 300px;
	}
	#wrapper {
		height: 300px;
		padding: 0;
	}
	#slider-wrap ul#slider li a > div {
		margin-top: 120px;	
	}
	#slider-wrap ul#slider li a > div h3 {
		font-size: 25px;	
	}
	#pagination-wrap {
		margin-top: 270px;
	}

	.main .row {
		max-width: 500px;
	}
	.main .banner-box .new-box {
		width: 50%;
 	}
 	.main .banner-box:nth-child(1) .new-box {
 		margin-left: 0;
 	}
 	.main .banner-box:nth-child(2) .new-box {
 		margin-left: auto;
 		margin-right: auto;
 	}
 	.main .banner-box:nth-child(3) .new-box {
 		margin-right: 0;
 		margin-left: auto;
 	}
	.main .banner-box .new-box p {
		font-size: 15px;
		color: white;
		top: 20%;
		margin: 0;
	}

	.main .kicks-intro .feed-title h3 {
		margin-top: 20px;
	}
}