@charset "utf-8";
/* CSS Document */

.header {
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.logo-shake {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.slide-bar-container{
	width:100%;
	height:550px;
	margin:0 auto 40px;
	overflow:hidden;
	position:relative;
}
.slide-bar-container ul{
	display:block;
	height:100%;
	margin:0;
	padding:0;
	list-style:none;
	cursor:pointer;
}
.slide-bar-container ul li{
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	cursor:pointer;
}
.slide-bar-container ul li img{
	height:100%;
}
.slide-bar-container ul .slide-filter{
	width:100%;
	bottom:0;
	opacity:0.8;
	background:#666;
	position:absolute;
	top:0;
	left:0;
	display:none;
	cursor:pointer;
	z-index:10;
}
.slide-bar-container ul li.active{
	left:-100%;
}
.slide-bar-container ul p{
	color:white;
	width:100%;
	position:absolute;
	top:20%;
	font-size:100px;
	display:none;
	font-family:"Univers-UltraCondensed";
}
.slide-bar-container ol{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	z-index: 10;
}
.slide-bar-container ol li{
	list-style: none;
	display: inline-block;
	margin: 0 2%;
	font-size: 1.25em;
	cursor: pointer;
	color: white;
}
.slide-bar-container ol li.active {
	color:#4A4A4A;
}

.main .banner-box {
	margin-bottom: 40px;
}
.main .banner-box > div {
	padding: 0 20px;
}
.main .banner-box .new-box {
	border: 5px dashed #999999;
	border-radius: 10%;
	position: relative;
}
.main .banner-box .new-box img {
	width: 100%;
	border-radius: 10%;
}
.main .banner-box .new-box .kicks-filter {
	width: 0;
	height: 100%;
	border-radius: 10%;
	position: absolute;
	top: 0;
	text-align: center;
	opacity: 0;
	filter: alpha(opacity=0);
	background: #666;
}
.main .banner-box .new-box p {
	width: 100%;
	position:absolute;
	font-size:20px;
	display:none;
	color:white;
}
.main .kicks-box{
	width:90%;
	margin:30px auto;
	padding:20px 0;
	border-bottom:2px solid #999999;
}
.main .kicks-box.last {
	margin-bottom: 0;
}
.main .kicks-pic{
	max-height: 350px;
	cursor:pointer;
}
.main .kicks-intro{
	color: white;
	background: rgba(164, 164, 164, 1);
}
.main .kicks-intro h2 {
	color: white;
	margin: 0;
	padding: 0 10px;
	width: 100%;
	line-height: 50px;
	font-size: 30px;
	background: #4A4A4A;
}
.main .kicks-intro .kicks-intro-content {
	width: 100%;
	height: 270px;
	margin-top: 30px;
	padding: 0 10px;
	font-size: 24px;
	background: #4A4A4A;
}

.main .wait_load{
	display:none;
}
.main .to-view-more {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #FF9;
	cursor: pointer;
	font-size: 18px;
	color: #4A4A4A;
}

@media only screen and (max-width:1024px) {
	.slide-bar-container{
		width:100%;
		height:500px;
	}
	.main .kicks-box{
		width:90%;
		margin:30px auto;
		padding:20px 0;
		border-bottom:2px solid #999999;
	}
}
@media only screen and (max-width:767px) {
	.slide-bar-container {
		height:300px;
	}
	.main .banner-box > div {
		padding: 0;
	}
	.main .banner-box .new-box {
		width: 40%;
	}
	.main .banner-box div:nth-child(1) .new-box {
		float: left;
	}
	.main .banner-box div:nth-child(2) .new-box {
		margin: 0 auto;
	}
	.main .banner-box div:nth-child(3) .new-box {
		float: right;
	}
	.main .kicks-box{
		text-align: center;
	}
}