@charset "utf-8";

*{margin:0; padding:0; list-style:none;}

.header {
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.logo-shake {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.slide-container {
	height: 400px;
	margin-bottom: 40px;
}

#wrapper {
	width: 80%;
	margin: 50px auto;
	height: 400px;
	position: relative;
	color: white;
	text-shadow: rgba(0,0,0,0.1) 2px 2px 0px;	
}
#slider-wrap {
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
}
#slider-wrap ul#slider {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;		
}
#slider-wrap ul#slider li {
	float: left;
	position: relative;
	width: 600px;
	height: 400px;	
}
#slider-wrap ul#slider li > div {
	position:absolute;
	top: 20px;
	left: 35px;	
}
#slider-wrap ul#slider li > div h3 {
	font-size: 36px;	
}
#slider-wrap ul#slider li i {
	text-align: center;
	line-height: 400px;
	display: block;
	width: 100%;
	font-size: 90px;	
}

.slide-btns {
	position: absolute;
	width: 50px;
	height: 60px;
	top: 50%;
	margin-top: -25px;
	line-height: 57px;
	text-align: center;
	cursor: pointer;	
	background: rgba(0,0,0,0.1);
	z-index: 100;
	
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-ms-user-select: none;
	
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.slide-btns:hover {
	background:rgba(0,0,0,0.3);	
}

#next {right:-50px; border-radius:7px 0px 0px 7px;}
#previous {left:-50px; border-radius:0px 7px 7px 7px;}

#slider-wrap.active #next {right:0px;}
#slider-wrap.active #previous {left:0px;}

#pagination-wrap {
	min-width: 20px;
	margin-top: 350px;
	margin-left: auto; 
	margin-right: auto;
	height: 15px;
	position: relative;
	text-align: center;
}
#pagination-wrap ul {
	width:100%;
}
#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: white;
	opacity: 0.5;
	position: relative;
  	top:0;
}
#pagination-wrap ul li.active {
  	width:12px;
  	height:12px;
  	top:3px;
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	
}
#slider-wrap ul, #pagination-wrap ul li {
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}

.main .banner-box {
	margin-bottom: 40px;
}
.main .banner-box > div {
	padding: 0 20px;
}
.main .banner-box .new-box {
	border: 5px dashed #999999;
	border-radius: 10%;
	position: relative;
}
.main .banner-box .new-box img {
	width: 100%;
	border-radius: 10%;
}
.main .banner-box .new-box .kicks-filter {
	width: 0;
	height: 100%;
	border-radius: 10%;
	position: absolute;
	top: 0;
	text-align: center;
	opacity: 0;
	filter: alpha(opacity=0);
	background: #666;
}
.main .banner-box .new-box p {
	width: 100%;
	position:absolute;
	font-size:20px;
	display:none;
	color:white;
}

.main .kicks-box{
	width:90%;
	margin:30px auto;
	padding:20px 0;
	border-bottom:2px solid #999999;
}
.main .kicks-box.last {
	margin-bottom: 0;
}
.main .kicks-pic{
	max-height: 350px;
	cursor:pointer;
}

.main .kicks-intro .feed-title {
	color: rgb(38, 38, 38);
	margin: 0;
	padding: 0 10px;
	line-height: 50px;
	font-size: 2.0em;
	font-weight: 900;
	text-align: center;
}
.main .kicks-intro hr.title-divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.main .kicks-intro .kicks-intro-content {
	margin-top: 30px;
	padding: 0 10px;
	font-size: 14px;
	font-weight: lighter;
}
.main .kicks-intro .kicks-intro-content span.post-date {
    padding: 0 10px;
    font-weight: lighter;
    color: lightgray;
}

.main .wait_load{
	display:none;
}
.main .to-view-more {
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #FF9;
	cursor: pointer;
	color: #4A4A4A;
}

@media only screen and (max-width:1024px) {
	.main .kicks-box{
		width:90%;
		margin:30px auto;
		padding:20px 0;
		border-bottom:2px solid #999999;
	}
}
@media only screen and (max-width:767px) {
	.main .banner-box > div {
		padding: 0;
	}
	.main .banner-box .new-box {
		width: 40%;
	}
	.main .banner-box div:nth-child(1) .new-box {
		float: left;
	}
	.main .banner-box div:nth-child(2) .new-box {
		margin: 0 auto;
	}
	.main .banner-box div:nth-child(3) .new-box {
		float: right;
	}
	.main .kicks-box{
		text-align: center;
	}
}