@charset "utf-8";
/* CSS Document */

.main{
	max-width: 1020px;
	margin: 90px auto 0;
}
.main .title {
	width:60%;
	font-size:60px;
	color: white;
	text-indent:10px;
	background-color: #434343;
   	background-image:linear-gradient(#666666, #e7e7e7);
}
.main .title > div {
    background-color: transparent;
    background-image: 
    linear-gradient(0deg, transparent 9%, 
        rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
        rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
        rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
        rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
        rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
    linear-gradient(90deg, transparent 9%, 
        rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
        rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
        rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
        rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
        rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);
    height:100%;
  	background-size:50px 50px;
}
.main ul{
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
}
.main ul li{
	margin-top:20px;
	margin-bottom:20px;
}
.main ul li .player-card {
    color: white;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    width: 100%;
    background-color: #333;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
 }
.main ul li .player-card .flyout-button {
	color: white;
    width: 35px;
    height: 35px;
    margin: 10px;
    float: right;
    opacity: 0.7;
    transition: all 0.5s ease;
}
.main ul li .player-card .flyout-button:hover {
    opacity: 1;
}
.main ul li .player-card .flyout-button:before {
    margin-left: -40px;
    margin-top: 9px;
    display: block;
   	font-size: 12px;
    letter-spacing: 1px;
}
.main ul li .player-card .player-card-inside {
    padding: 25px 40px;;
    padding-top: 280px;
}
.main ul li .player-card .player-card-inside .player-name {
    font-size: 50px;
    line-height: 45px;
    letter-spacing: -1px;
    float: left;
    margin-bottom: 25px;
}
.main ul li .player-card .player-card-inside .player-name span {
    font-weight: lighter;
}
.main ul li .player-card .player-card-inside .player-name b {
    font-weight: 800;
}
.main ul li .player-card .player-card-inside hr {
    border: 1px solid #fff;
    clear: both;
}
.main ul li .player-card .player-card-inside .player-info {
    border-top: 2px solid #fff;
    padding-top: 15px;
    width: 92%;
    clear: both;
}

.main .wait_load{
	display:none;
}
.main .to-view-more{
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	cursor:pointer;
	font-size:18px;
	color:#666666;
	float:left;
	border:3px solid #666666;
	border-radius: 10px;
}

@media only screen and (min-width:768px) and (max-width:1200px) {
	.main .to-view-more {
		width: 50%;
		margin-top:20px;
	}
}

@media only screen and (max-width:767px) {
	.header{
		padding-top:20px;
	}
	.main{
		width:100%;
	}
	.main .title{
		width:80%;
		font-size:36px;
	}
}