@charset "utf-8";
/* CSS Document */

.main{
	width:90%;
	margin:90px auto 0;
}
.main ul{
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
}
.main ul li{
	margin-top:20px;
	margin-bottom:20px;
}
.main ul li img{
	width:100%;
	border-radius:20px;
}
.main ul li.last{
	margin-right:0;
}
.main ul li p{
	position:absolute;
	width:70%;
	height:48px;
	line-height:16px;
	top:65%;
	left:25%;
	font-size:14px;
	opacity:0.8;
	alpha:filter(opacity=80);
	background-color:#333;
	color:#FFF;
}
.main .wait_load{
	display:none;
}
.main .to-view-more{
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	cursor:pointer;
	font-size:18px;
	color:#666666;
	float:left;
	border:3px solid #666666;
	border-radius: 10px;
}

.on-court{
	width:60%;
	font-size:60px;
	background:#000000;
	padding-top:24px;
	text-indent:10px;
	color:#FFFFFF;
}

@media only screen and (min-width:767px) and (max-width:1200px) {
	.main .to-view-more {
		float:none;
	}
}

@media only screen and (max-width:767px) {
	.header{
		padding-top:20px;
	}
	.main{
		width:100%;
	}
	.on-court{
		width:80%;
		font-size:36px;
	}
}