.main a:hover {
    text-decoration: none;
}
.main .header {
    text-align: center;
    position: relative;
}
.main .header header {
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
    font-weight: bold;
}
.main .header .sub-header {
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
}
.main .content {
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;
    margin: 30px 2% 0 2%;
}
.main .content p {
    margin-top: 0;
    margin-bottom: 10px;
}
.main .content .collumn {
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 20px;
    -webkit-transition: all .7s;
    transition: all .7s;
    border-left: 1px solid #2f2f2f;
}
.main .content .collumn .headline {
    text-align: center;
    line-height: normal;
    display: block;
    margin: 0 auto;
}
.main .content .collumn .headline.title{
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
    color: #333;
}
.main .content .collumn a:hover .headline.title {
    opacity: 0.5;
}
.main .content .collumn .headline.sub-title{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.main .content .collumn .headline.sub-title:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.main .content .collumn .headline.sub-title:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;
}
.main .content .collumn .photo {
    width: 100%;
    height: 180px;
    -webkit-filter: grayscale(40%);
    background-position: center;
    background-size: cover;
    background-color: #f8f8f8;
}
.main .pagination-container {
    width: 100%;
    text-align: center;
}

@media only all and (min-width: 1200px) {
    .main .content .collumn.left-lg-none {
        border-left: none;
    }
}

@media only all and (max-width: 1200px) {
    .main .content .collumn.left-sm-none {
        border-left: none;
    }
}

@media only all and (max-width: 767px) {
	.main .content .collumn {
		border-left: none;
      	border-bottom: 1px solid #2f2f2f;
	}
    .main .header header {
        max-width: 320px;
        font-size: 60px;
        line-height: 54px;
        overflow: hidden;
    }
}