.main {
  max-width: 600px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.8;
}
.main header {
  margin-bottom: 25px;
}
.main header .category {
  color: #7b8994;
  letter-spacing: 2px;
  font-size: 1.342em;
  line-height: 1;
}
.main header .rating {
  float: right;
  color: #7b8994;
  font-size: 10px;
  text-align: right;
}
.main header h1 {
  font-weight: bold;
  font-size: 2.415em;
  line-height: 1.2;
}
.main header .pub-date {
  display: block;
  color: #7b8994;
  text-transform: uppercase;
  font-size: 74.5%;
  font-size: 0.745em;
}

#content-img {
  width: 100%;
  cursor: zoom-in;
}

#content-img:hover {
  opacity: 0.8;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.enlarged-img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.close {
  position: absolute;
  top: 50px;
  right: 100px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.main figure {
  margin: 1em 0;
}
.main .new-rating {
  color: #7b8994;
  text-align: center;
  margin-bottom: 10px;
}
.main .new-rating img {
  cursor: pointer;
}
#rate-btn {
  font-weight: bolder;
  cursor: pointer;
}
#rate-btn:hover {
  color: #333;
}
.main .share-link button {
  color: white;
  margin: 3px 0;
  text-transform: capitalize;
}
.main .share-link span {
  font-size: 0.8em;
}
.main .share-link hr {
  margin-top: 0;
  margin-bottom: 5px;
}
#facebook-share {
  background-color: #3b5998;
  border-color: #3b5998;
}
#weibo-share {
  background-color: #ce2f00;
  border-color: #ce2f00;
}
#tieba-share {
  background-color: #38f;
  border-color: #38f;
}
#twitter-share {
  background-color: #61bcf6;
  border-color: #61bcf6;
}
#copy-share {
  background-color: #999999;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
@media only screen and (max-width:767px) {
  .logo-pendant.hide-small {
    display: none;
  }

  #side-nav {
    display: none;
  }

  .main header h1 {
    font-size: 2em;
    margin-top: 10px;
  }
  .main header .category {
    font-size: 1.15em;
  }
  .enlarged-img {
    width: 100%;
  }
}
