@charset "utf-8";

.main {
	margin-top: 40px;
}
.main .kicks-box {
	width:90%;
	margin:30px 0 30px 10px;
	padding:20px;
	border-bottom:2px solid #999999;
}
.main .kicks-box.last {
	margin-bottom: 0;
}
.main .kicks-box dl {
	height: 350px;
	cursor:pointer;
}
.main .kicks-box dl dt {
	width: 100%;
	height: 310px;
}
.main .kicks-box .kicks-pic {
	max-height: 300px;
	max-width: 100%;
}
.main .kicks-box dl dd {
	font-size: 28px;
	text-align: center;
}
.main .kicks-intro {
	color: white;
	background: rgba(164, 164, 164, 1);
}
.main .kicks-intro h2 {
	margin: 0;
	line-height: 50px;
	font-size: 30px;
	padding: 0 10px;
	background: #4A4A4A;
	color: white;
}
.main .kicks-intro .kicks-intro-content {
	height: 270px;
	margin-top: 30px;
	font-size: 24px;
	padding: 0 10px;
	background: #4A4A4A;
}

.main .wait_load{
	display:none;
}
.main .to-view-more {
	display: inline-block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #FF9;
	cursor: pointer;
	color: #4A4A4A;
}

@media only screen and (max-width:1200px) {
	.main .kicks-intro .kicks-intro-content {
		height: 220px;
	}
}

@media only screen and (max-width:767px) {
	.main .kicks-box dl {
		height: auto;
		text-align: center;
	}
	.main .kicks-box dl dt {
		height: auto;
	}
}