@charset "utf-8";

.main {
	max-width: 1020px;
	margin-top: 90px;
}
.main .kicks-title {
	width:60%;
	font-size:60px;
	color: white;
	text-indent:10px;
	background: 
    -webkit-linear-gradient(rgba(135, 60, 255, 1), rgba(135, 60, 255, 0.0) 0%),
    -webkit-linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 45%, rgba(55, 230, 235, 1) 0%);
}

#kicks-posts {
    text-align: left;
    font-size: 0;
    margin-top: 20px;
}
#kicks-posts .kicks-post {
    position: relative;
    height: 500px;
    margin: 0;
    border: 3px solid #000;
   	display: inline-block;
    background-size: cover;
   	background-position: center center;
    -webkit-transition:all 300ms ease-out;
    transition: all 300ms ease-out;
}
#kicks-posts .kicks-post h3 {
    color:white;
    position: absolute;
    bottom: 80px;
    margin: 0;
    font-size: 45px;
    line-height: 0.8;
    text-transform: uppercase;
    text-align: left;
    z-index: 1;
}
#kicks-posts .kicks-post .kicks-date {
    color:#fff;
    position: absolute;
    bottom: 40px;
    margin: 0;
    font-size: 22px;
    line-height: 0.8;
    text-transform: capitalize;
    text-align: left;
    z-index: 1;
}
#kicks-posts .kicks-post:before {
    position: absolute;
   	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #000;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=50);
    -webkit-transition:all 300ms ease-out;
    transition: all 300ms ease-out;
    content: '';
    z-index: 1;
}
#kicks-posts .kicks-post:hover:before {
    opacity: 0.2;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
    filter: alpha(opacity=20);
}

.main .wait_load{
	display:none;
}
.main .to-view-more {
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	cursor:pointer;
	font-size:18px;
	color:#666666;
	float:left;
	border:3px solid #666666;
	border-radius: 10px;
	margin-top: 20px;
}

@media only screen and (max-width:767px) {
	.main .kicks-title{
		width:80%;
		font-size:36px;
	}
}