<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Kicks4Love-oncourt</title>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link href="css/landing-page.css" rel="stylesheet" type="text/css">

<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<link href="css/common.css" rel="stylesheet" type="text/css" />
<link href="css/oncourt.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="js/oncourt.js"></script>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" style="height: 70px;">
      <div class="container topnav">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <!--<a class="navbar-brand topnav" href="#">Start Bootstrap</a>-->
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse clearfix" id="bs-example-navbar-collapse-1" style="position: absolute; margin-left:0; transform: translateY(-45%)">
              <a href="#home" class="logo-link"><img src="images/logo.png" id="Image1" style="float:left;" onMouseOver="MM_swapImage('Image1','','images/logo.jpg',1)" onMouseOut="MM_swapImgRestore()"></a>
              <ul class="nav navbar-nav navbar-right">
                    <li class="first">
                        <a href="index.html">HOME</a>
                      </li>
                    <li>
                        <a href="featured.html">FEATURES</a>
                      </li>
                    <li>
                        <a href="trend.html">TREND</a>
                      </li>
                    <li class="last">
                        <a href="upcoming.html">UPCOMING</a>
                      </li>
                    <li>
                        <a href="oncourt.html">ON-COURT</a>
                      </li>
                    <li>
                        <a href="streetsnap.html">STREET-SNAP</a>
                      </li>
                    <li class="last">
                        <a href="rumors.html">RUMORS</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <a name="home"></a>
    <div class="header">
    </div>
    
    <div class="main">
    	<div class="on-court">
        	On Court
        </div>
        <ul class="clearfix">
        	<li>
            	<a href="#">
                    <img src="images/e2a6dd5cjw1f8h8dmsivfj20m80xe7d0.jpg" />
                    <p>aaaaaaaaaaaaaaaaaaaaaaaa</p>
                </a>
            </li>
            <li>
            	<a href="#">
                    <img src="images/e2a6dd5cjw1f8h8dmsivfj20m80xe7d0.jpg" />
                    <p>aaaaaaaaaaaaaaaaaaaaaaaa</p>
                </a>
            </li>
            <li class="last">
            	<a href="#">
                    <img src="images/e2a6dd5cjw1f8h8dmsivfj20m80xe7d0.jpg" />
                    <p>aaaaaaaaaaaaaaaaaaaaaaaa</p>
                </a>
            </li>
            <li>
            	<a href="#">
                    <img src="images/e2a6dd5cjw1f8h8dmsivfj20m80xe7d0.jpg" />
                    <p>aaaaaaaaaaaaaaaaaaaaaaaa</p>
                </a>
            </li>
            <li>
            	<a href="#">
                    <img src="images/e2a6dd5cjw1f8h8dmsivfj20m80xe7d0.jpg" />
                    <p>aaaaaaaaaaaaaaaaaaaaaaaa</p>
                </a>
            </li>
            <li class="last">
            	<a href="#">
                    <img src="images/e2a6dd5cjw1f8h8dmsivfj20m80xe7d0.jpg" />
                    <p>aaaaaaaaaaaaaaaaaaaaaaaa</p>
                </a>
            </li>
            <div class="to-view-more">
                <span>Click To View More</span>
            </div>
            <li class="wait_load">
            	<a href="#">
                    <img src="images/e2a6dd5cjw1f8h8dmsivfj20m80xe7d0.jpg" />
                    <p>aaaaaaaaaaaaaaaaaaaaaaaa</p>
                </a>
            </li>
            <li class="wait_load">
            	<a href="#">
                    <img src="images/e2a6dd5cjw1f8h8dmsivfj20m80xe7d0.jpg" />
                    <p>aaaaaaaaaaaaaaaaaaaaaaaa</p>
                </a>
            </li>
       </ul>
    </div>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
    						<a href="index.html">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
    						<a href="feature.html">Features</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
 						<li>
   							 <a href="trend.html">Trend</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                         <li>                      <a href="upcoming.html">Upcoming</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="oncourt.html">On-court</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="streetsnap.html">Street-Snap</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="rumors.html">Rumors</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="aboutus.html">About Us</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="contact.html">Contact us</a>
                        </li>

                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Kicks4love 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
	</footer>
</body>
</html>
